$green: seagreen;
$orange: darkorange;
$blue: dodgerblue;
$indigo: darkmagenta;
$pink: lightpink;
$yellow: gold;
$red: firebrick;
$brown: saddlebrown;

$player-white: rgb(253, 255, 238);
$player-black: #000;
